.FullMenu{
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 20px 0px;
}
.itens{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}